
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    list-style-type: none;
    text-decoration: none;
}
body{
    background: radial-gradient(circle at top, #0f3a5f, #071a2d);
}
.cabecalho{
    background: radial-gradient(circle at top, #0f3a5f, #071a2d);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    position: sticky; /* permite que o cabecalho fique fixo na tela*/
    top: 0; 
    z-index: 1;

}
.cabecalho nav{
    display: none;
    background-color: rgba(0, 0, 0,0.9);
}
.logo{
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 24px;
    color: #fff;
    font-weight: bolder;
}
.btn-jogar{
    display: none;
}
.icone{
    color: #fff;
    font-size: 24px;
    cursor: pointer;
}
nav a{
    display: block;
    padding: 15px 15px;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;
}

nav.ativo{
    display: initial;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    
}
nav a:hover{
    
    color:#ccc;
}


/* SECTION */

section {
  padding: 25px;
  background-color: r;
}
section header p{
    color: rgb(13, 217, 231);
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;
    letter-spacing: 2px;
    border: 1px solid aqua;
    display: inline-block;
    padding: 10px 30px 10px 30px;
    margin-bottom: 10px;
    
}
 #hero-titulo{
    text-transform: uppercase;
    font-size: 40px;
    color: #fff;
    font-weight: bolder;
    margin-bottom: 20px;
 }

 .acoes{
    margin: 20px 0px 20px 0px;
    display: flex;
    gap: 30px;
 }
 
  button{
    padding: 10px 30px 10px 30px;
    border-radius: 5px;
    cursor: pointer;
    background-color: rgb(17, 104, 218);
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;
    letter-spacing: 2px;
    border: none;
  }
  .acoes a{
    color: red;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;
    letter-spacing: 2px;
    padding: 10px 30px 10px 30px;
    border: 1px solid red;
    border-radius: 5px;
    cursor: pointer;
  }
  .texto{
    border: none;
    color: #ccc;
    text-transform: capitalize;

    font-size: 15px;
    letter-spacing: 2px;
  }
  .estatisticas{
    margin: 20px 0px 20px 0px;
    display: flex;
    gap: 30px;
  }
  .estatisticas li{
    color: #ccc;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 10px;
    letter-spacing: 2px;
  }
  .estatisticas li strong{
    text-align: center;
    display: block;
    font-size: 20px;
    color: #fff;
  }
  figure{
    margin: 20px 0px 20px 0px;
    width: 100%;
  }
  figure img{
    width: 100%;
  }

  .mundo{
    margin: 20px 0px 20px 0px;
   
  }
  .mundo span{
    color: rgb(35, 154, 175);
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;
    letter-spacing: 2px;
  }
  .mundo h2{
    color: #fff;
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 40px;
    margin-bottom: 20px;
  }
  .mundo p{
    color: #ccc;
    text-transform: capitalize;
    font-size: 15px;
    letter-spacing: 2px;

  }

  .galeria {
  list-style: none;
  padding: 0;
}

.galeria li {
  margin-bottom: 15px;
}

.galeria img {
  width: 100%;
  border-radius: 10px;
}
ol{
    margin: 15px 0px 15px 0px;
    color: #fff;
    font-weight: bolder;
    text-transform: capitalize;
    font-size: 15px;
    line-height: 2;
    letter-spacing: 2px;
}

.galeria {
  list-style: none;
  padding: 0;
}
#galeria-titulo{
    color: #fff;
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 35px;
    margin-bottom: 20px;
}

.galeria li {
  margin-bottom: 15px;
}

figure{
    margin-top: 70px;
   position: relative;
    bottom: 30px;
    width: 100%;
   box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.3);
}
    
figcaption{
   
    display: flex;
    justify-content: space-between;
    color: #fff;
    padding: 0px 25px 20px 15px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;
    letter-spacing: 2px;
  
}
#equipe-titulo{
    color: #fff;
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 35px;
    margin-bottom: 20px;
}
.equipe {
  list-style: none;
  padding: 0;
}

.equipe li {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
     box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.2);
    margin-bottom: 15px;
    background-color: #0f3a5f;
    padding: 30px;
    width: 100%;
   
}
.equipe article{
    background: #fff;
    padding: 50px 20px 50px 20px;
    width: 90%;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.2);
    margin-bottom: 15px;
    
}

.equipe article {
  
}


>>>>>>> projeto
